body {
    background: #000000;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Nunito', 'sans-serif';
}

.inner {
    background: #ea3030;
    padding: 1em;
    border-radius: 10px;
    width: 500px;
    clip-path: circle(10% at 91% 12%);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

h1 {
    color: #ff1717;
    margin: 0;
}

p {
    color: #FFF9FB;
    font-size: 1.8rem;
}

.container:hover .inner {
    clip-path: circle(75%);
    background: #272525;
}

span {
    float: right;
    color: #FFF9FB;
    font-weight: bold;
    transition: color .5s;
    position: relative;
    margin-right: 4%;
    font-size: 50px;
}

.container:hover span {
    color: rgba(5, 4, 4, 0);
}